# ADA2017 - Homework 1

### Di WU - Shengzhao LEI - Tao SUN - Xiangzhe MENG

# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [3]:
DATA_FOLDER = 'Data/' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
sns.set_context('notebook')

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average* per month of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

## Solution

We decided to import data files of each country separately, and concatenate them together into a new DataFrame.

First of all, we defined **two functions (get_daily_total_new_cases_df & get_daily_total_new_deaths_df)** which can be used by the data load for all these 3 countries.

- **get_daily_total_new_cases_df**: 

      Reform the DF in order to return a new DF with Date as Index and Total new cases per day as Columns.
- **get_daily_total_new_deaths_df**: 

      Reform the DF in order to return a new DF with Date as Index and Total new deaths per day as Columns.

In [62]:
def get_daily_total_new_cases_df(temp_case):
    temp_case = temp_case.set_index(['Date','Description']);
    temp_case['Totals'] = temp_case['Totals'].apply(pd.to_numeric);
    temp_case = temp_case.groupby('Date').sum();
    temp_case.columns = ['New cases'];
    return temp_case;

In [63]:
def get_daily_total_new_deaths_df(temp_death):
    temp_death = temp_death.set_index('Date');
    temp_death = temp_death.drop('Description',axis=1);
    temp_death.columns = ['New deaths'];
    temp_death['New deaths'] = temp_death['New deaths'].apply(pd.to_numeric);
    temp_death = temp_death.groupby('Date').sum();
    return temp_death;

**Import Guinea data**

We found that there is a column named 'Totals' for each file and the value of this column is the total number of all the cities of Guinea. 

Thus, we decided to keep only three columns: Date, Description & Totals.

In [64]:
#import all guinea files into a DF ebola_guinea
all_ebola_guinea_files = glob.glob(DATA_FOLDER + "ebola/guinea_data/*.csv")
ebola_guinea = pd.concat((pd.read_csv(f) for f in all_ebola_guinea_files),ignore_index=True)

#only keep three columns: Date, Description & Totals
ebola_guinea = ebola_guinea[['Date','Description','Totals']].fillna(0)

#change column "Date" type to datetime and set the display form 
ebola_guinea['Date'] = ebola_guinea['Date'].apply(pd.to_datetime)
ebola_guinea['Date'] = ebola_guinea['Date'].dt.strftime('%Y-%m-%d')

**Daily new cases for Guinea**

First of all, we collected all the potential description for new cases and chosed the suitable description.

In [65]:
temp_case = ebola_guinea[[pd.Series(des).str.contains('[nN]ew case[s]{0,1}') for des in ebola_guinea.Description]]
temp_case

           Date                                  Description Totals
0    2014-08-04                        New cases of suspects      5
1    2014-08-04                       New cases of probables      0
2    2014-08-04                       New cases of confirmed      4
3    2014-08-04            Total new cases registered so far      9
42   2014-08-26                        New cases of suspects     18
43   2014-08-26                       New cases of probables      0
44   2014-08-26                       New cases of confirmed     10
45   2014-08-26            Total new cases registered so far     28
57   2014-08-26  New cases of confirmed among health workers      0
74   2014-08-27                        New cases of suspects     12
75   2014-08-27                       New cases of probables      0
76   2014-08-27                       New cases of confirmed     10
77   2014-08-27            Total new cases registered so far     22
89   2014-08-27  New cases of confirmed among health workers      0
106  2014-08-30                        New cases of suspects     15
107  2014-08-30                       New cases of probables      0
108  2014-08-30                       New cases of confirmed      9
109  2014-08-30            Total new cases registered so far     24
121  2014-08-30  New cases of confirmed among health workers      0
138  2014-08-31                        New cases of suspects      9
139  2014-08-31                       New cases of probables      8
140  2014-08-31                       New cases of confirmed     29
141  2014-08-31            Total new cases registered so far     46
153  2014-08-31  New cases of confirmed among health workers      0
170  2014-09-02                        New cases of suspects     11
171  2014-09-02                       New cases of probables      0
172  2014-09-02                       New cases of confirmed     14
173  2014-09-02            Total new cases registered so far     25
185  2014-09-02  New cases of confirmed among health workers      0
202  2014-09-04                        New cases of suspects     13
..          ...                                          ...    ...
522  2014-09-22                        New cases of suspects      5
523  2014-09-22                       New cases of probables      0
524  2014-09-22                       New cases of confirmed     14
525  2014-09-22            Total new cases registered so far     19
537  2014-09-22  New cases of confirmed among health workers      0
554  2014-09-23                        New cases of suspects      4
555  2014-09-23                       New cases of probables      0
556  2014-09-23                       New cases of confirmed     25
557  2014-09-23            Total new cases registered so far     29
569  2014-09-23  New cases of confirmed among health workers      0
586  2014-09-24                        New cases of suspects      8
587  2014-09-24                       New cases of probables      0
588  2014-09-24                       New cases of confirmed     20
589  2014-09-24            Total new cases registered so far     28
601  2014-09-24  New cases of confirmed among health workers      0
618  2014-09-26                        New cases of suspects      2
619  2014-09-26                       New cases of probables      7
620  2014-09-26                       New cases of confirmed     10
621  2014-09-26            Total new cases registered so far     19
633  2014-09-26  New cases of confirmed among health workers      0
650  2014-09-30                        New cases of suspects      4
651  2014-09-30                       New cases of probables      0
652  2014-09-30                       New cases of confirmed     11
653  2014-09-30            Total new cases registered so far     15
665  2014-09-30  New cases of confirmed among health workers      0
682  2014-10-01                        New cases of suspects     28
683  2014-10-01                       New cases of probables      0
684  2014-10-01                       New cases of confirmed      6
685  2014-10-01            Total new cases registered so far     34
697  2014-10-01  New cases of confirmed among health workers      2

[109 rows x 3 columns]

From the DF above, we found that all the files contain the description "New cases of suspects", "New cases of probables" and "New cases of confirmed". 

Thus, we assumed that the total new cases per day is:
**_'New cases of suspects' + 'New cases of probables' + 'New cases of confirmed'_**

With the cell below, we collected all the corresponding data and calculate the sum per day and put the result into the same DF.

(Index: Date, Colums: Total new cases)

In [66]:
temp_case = temp_case[[(des == 'New cases of suspects') or (des == 'New cases of probables') or (des == 'New cases of confirmed') for des in temp_case.Description]]
temp_case = get_daily_total_new_cases_df(temp_case);
temp_case

            New cases
Date
2014-08-04          9
2014-08-26         28
2014-08-27         22
2014-08-30         24
2014-08-31         46
2014-09-02         25
2014-09-04         30
2014-09-07         16
2014-09-08         16
2014-09-09         16
2014-09-11         22
2014-09-14         25
2014-09-16         10
2014-09-17         10
2014-09-19         16
2014-09-21         18
2014-09-22         19
2014-09-23         29
2014-09-24         28
2014-09-26         19
2014-09-30         15
2014-10-01         34

**Daily new deaths for Guinea**

First of all, we collected all the potential description for new deaths and chosed the suitable description.

In [67]:
temp_death = ebola_guinea[[pd.Series(des).str.contains('[nN]ew death[s]{0,1}') for des in ebola_guinea.Description]]
temp_death

           Date                                 Description Totals
8    2014-08-04                 New deaths registered today      2
9    2014-08-04     New deaths registered today (confirmed)      2
10   2014-08-04     New deaths registered today (probables)      0
11   2014-08-04      New deaths registered today (suspects)      0
51   2014-08-26                       New deaths registered      5
59   2014-08-26  New deaths registered among health workers      0
83   2014-08-27                       New deaths registered      2
91   2014-08-27  New deaths registered among health workers      0
115  2014-08-30                       New deaths registered      5
123  2014-08-30  New deaths registered among health workers      0
147  2014-08-31                       New deaths registered      3
155  2014-08-31  New deaths registered among health workers      0
179  2014-09-02                       New deaths registered      5
187  2014-09-02  New deaths registered among health workers      0
211  2014-09-04                       New deaths registered      5
219  2014-09-04  New deaths registered among health workers      0
243  2014-09-07                       New deaths registered      4
251  2014-09-07  New deaths registered among health workers      0
275  2014-09-08                       New deaths registered      4
283  2014-09-08  New deaths registered among health workers      0
307  2014-09-09                       New deaths registered      7
315  2014-09-09  New deaths registered among health workers      0
339  2014-09-11                       New deaths registered      2
347  2014-09-11  New deaths registered among health workers      0
371  2014-09-14                       New deaths registered      1
379  2014-09-14  New deaths registered among health workers      0
403  2014-09-16                       New deaths registered      3
411  2014-09-16  New deaths registered among health workers      0
435  2014-09-17                       New deaths registered      3
443  2014-09-17  New deaths registered among health workers      0
467  2014-09-19                       New deaths registered      5
475  2014-09-19  New deaths registered among health workers      0
499  2014-09-21                       New deaths registered      0
507  2014-09-21  New deaths registered among health workers      0
531  2014-09-22                       New deaths registered      3
539  2014-09-22  New deaths registered among health workers      0
563  2014-09-23                       New deaths registered      3
571  2014-09-23  New deaths registered among health workers      0
595  2014-09-24                       New deaths registered      3
603  2014-09-24  New deaths registered among health workers      0
627  2014-09-26                       New deaths registered      5
635  2014-09-26  New deaths registered among health workers      0
659  2014-09-30                       New deaths registered      4
667  2014-09-30  New deaths registered among health workers      0
691  2014-10-01                       New deaths registered     15
699  2014-10-01  New deaths registered among health workers      0

From the DF above, we found that all the files contain the description "New deaths registered" except for the date 2014-08-04. However, we found a similar description "New deaths registered today" for 2014-08-04.

Thus, we assumed that the total new cases per day is: 

- **'New cases of suspects today' for 2014-08-04**
- **'New deaths registered' for all the other days**

With the cell below, we collected all the corresponding data and calculate the sum per day and put the result into the same DF.

(Index: Date, Colums: Total new deaths)

In [68]:
temp_death = temp_death[[(des == 'New deaths registered') or (des == 'New deaths registered today') for des in temp_death.Description]]
temp_death = get_daily_total_new_deaths_df(temp_death);
temp_death

            New deaths
Date
2014-08-04           2
2014-08-26           5
2014-08-27           2
2014-08-30           5
2014-08-31           3
2014-09-02           5
2014-09-04           5
2014-09-07           4
2014-09-08           4
2014-09-09           7
2014-09-11           2
2014-09-14           1
2014-09-16           3
2014-09-17           3
2014-09-19           5
2014-09-21           0
2014-09-22           3
2014-09-23           3
2014-09-24           3
2014-09-26           5
2014-09-30           4
2014-10-01          15

Concatenate the two DFs temp_case and temp_death along the axis **1**:

In [69]:
df_guinea = pd.concat([temp_case,temp_death],axis = 1)

#rename the columns
df_guinea.columns=[['Guinea','Guinea'],['New cases','New deaths']]
df_guinea

              Guinea
           New cases New deaths
Date
2014-08-04         9          2
2014-08-26        28          5
2014-08-27        22          2
2014-08-30        24          5
2014-08-31        46          3
2014-09-02        25          5
2014-09-04        30          5
2014-09-07        16          4
2014-09-08        16          4
2014-09-09        16          7
2014-09-11        22          2
2014-09-14        25          1
2014-09-16        10          3
2014-09-17        10          3
2014-09-19        16          5
2014-09-21        18          0
2014-09-22        19          3
2014-09-23        29          3
2014-09-24        28          3
2014-09-26        19          5
2014-09-30        15          4
2014-10-01        34         15

We imported Liberia and SL's data with the same procedure as above:

**Import Liberia data**

We found that there is a column named 'National' for each file and the value of this column is the total number of all the cities of Guinea. 

Thus, we decided to keep only three columns: Date, Variable & National.

In [70]:
all_ebola_liberia_files = glob.glob(DATA_FOLDER + "ebola/liberia_data/*.csv")
ebola_liberia = pd.concat((pd.read_csv(f) for f in all_ebola_liberia_files),ignore_index=True)

#only keep three columns: Date, Variable & National
ebola_liberia = ebola_liberia[['Date','Variable','National']].fillna(0)

#rename colums
ebola_liberia.columns = ['Date','Description','Totals']
ebola_liberia['Date'] = ebola_liberia['Date'].apply(pd.to_datetime)
ebola_liberia['Date'] = ebola_liberia['Date'].dt.strftime('%Y-%m-%d')

Assumption for new cases:

The total new cases per day is: **'New Case/s (Suspected)' + 'New Case/s (Probable)' + 'New case/s (confirmed)'**

In [71]:
temp_case = ebola_liberia[[pd.Series(des).str.contains('[nN]ew [cC]ase[s]{0,1}') for des in ebola_liberia.Description]]
temp_case = temp_case[[(des == 'New Case/s (Suspected)') or (des == 'New Case/s (Probable)') or (des == 'New case/s (confirmed)') for des in temp_case.Description]]
temp_case = get_daily_total_new_cases_df(temp_case);

Assumption for new deaths:

The total new deaths per day is: **'Newly reported deaths'**

In [72]:
temp_death = ebola_liberia[[pd.Series(des).str.contains('[nN]ewly reported death[s]{0,1}') for des in ebola_liberia.Description]]
temp_death = temp_death[[(des == 'Newly reported deaths') for des in temp_death.Description]]
temp_death = get_daily_total_new_deaths_df(temp_death);

Concatenation

In [73]:
df_liberia = pd.concat([temp_case,temp_death],axis = 1)
df_liberia.columns=[['Liberia','Liberia'],['New cases','New deaths']]
df_liberia

             Liberia
           New cases New deaths
Date
2014-06-16       4.0        2.0
2014-06-17       2.0        0.0
2014-06-22      10.0        4.0
2014-06-24       6.0        4.0
2014-06-25       7.0        3.0
2014-06-28       9.0        1.0
2014-06-29       2.0        0.0
2014-07-01       4.0        5.0
2014-07-02       4.0        5.0
2014-07-03       4.0        4.0
2014-07-07       7.0        2.0
2014-07-08       3.0        2.0
2014-07-10       3.0        4.0
2014-07-13       5.0        3.0
2014-07-17      10.0        3.0
2014-07-20       3.0        4.0
2014-07-24      32.0        6.0
2014-07-26      19.0        9.0
2014-08-02      11.0       13.0
2014-08-04      10.0        7.0
2014-08-12      60.0       29.0
2014-08-15      19.0       17.0
2014-08-17      24.0       11.0
2014-08-18      56.0       30.0
2014-08-20      65.0       23.0
2014-08-25      29.0       28.0
2014-08-28      61.0       51.0
2014-09-01      73.0       34.0
2014-09-02      76.0       47.0
2014-09-03      24.0       27.0
...              ...        ...
2014-10-24      35.0       40.0
2014-10-25      31.0       24.0
2014-10-28      55.0       30.0
2014-10-29      69.0       20.0
2014-10-30      44.0       29.0
2014-10-31      32.0       41.0
2014-11-02      27.0        8.0
2014-11-04      26.0       24.0
2014-11-08      28.0       14.0
2014-11-14      20.0       20.0
2014-11-15      39.0       12.0
2014-11-19      36.0       21.0
2014-11-20      40.0       30.0
2014-11-21      37.0       14.0
2014-11-23       7.0        0.0
2014-11-24      25.0       15.0
2014-11-26      28.0       21.0
2014-11-27      46.0       16.0
2014-11-28       7.0        0.0
2014-11-29      21.0        7.0
2014-11-30      10.0        0.0
2014-12-01      35.0        0.0
2014-12-02      37.0        0.0
2014-12-03       0.0        0.0
2014-12-04    7721.0        0.0
2014-12-05    7731.0        0.0
2014-12-06    7735.0        0.0
2014-12-07    7765.0        0.0
2014-12-08    7786.0        0.0
2014-12-09    7797.0        0.0

[100 rows x 2 columns]

**Import Sierra Leone data**

We found that there is a column named 'National' for each file and the value of this column is the total number of all the cities of Guinea. 

Thus, we decided to keep only three columns: date, variable & National.

In [74]:
all_ebola_sl_files = glob.glob(DATA_FOLDER + "ebola/sl_data/*.csv")
ebola_sl = pd.concat((pd.read_csv(f) for f in all_ebola_sl_files),ignore_index=True)

#only keep three columns: date, variable & National
ebola_sl = ebola_sl[['date','variable','National']].fillna(0)

#rename colums
ebola_sl.columns = ['Date','Description','Totals']
ebola_sl['Date'] = ebola_sl['Date'].apply(pd.to_datetime)
ebola_sl['Date'] = ebola_sl['Date'].dt.strftime('%Y-%m-%d')

Assumption for new cases:

The total new cases per day is: **'new_noncase' + 'new_suspected' + 'new_probable' + 'new_confirmed'**

In [75]:
temp_case = ebola_sl[[(des == 'new_noncase') or (des == 'new_suspected') or (des == 'new_probable') or (des == 'new_confirmed') for des in ebola_sl.Description]]
temp_case = get_daily_total_new_cases_df(temp_case);

Assumption for new deaths:

The total new deaths per day is: **'death_suspected' + 'death_probable' + 'death_confirmed'**

In [76]:
temp_death = ebola_sl[[(des == 'death_suspected') or (des == 'death_probable') or (des == 'death_confirmed') for des in ebola_sl.Description]]
temp_death = get_daily_total_new_deaths_df(temp_death);

Cancatenation

In [78]:
df_sl = pd.concat([temp_case,temp_death],axis = 1)
df_sl.columns=[['Sierra Leone','Sierra Leone'],['New cases','New deaths']]
df_sl

           Sierra Leone
              New cases New deaths
Date
2014-08-12         26.0      303.0
2014-08-13         32.0      312.0
2014-08-14         41.0      319.0
2014-08-15         32.0      326.0
2014-08-16         30.0      336.0
2014-08-17         16.0      344.0
2014-08-18         60.0      351.0
2014-08-19         46.0      359.0
2014-08-20          9.0      361.0
2014-08-21         17.0      371.0
2014-08-22         84.0      375.0
2014-08-23         33.0      381.0
2014-08-24         44.0      386.0
2014-08-25         32.0      400.0
2014-08-26          0.0        0.0
2014-08-27         39.0      420.0
2014-08-28         42.0      425.0
2014-08-29          0.0        0.0
2014-08-30         57.0      435.0
2014-08-31         57.0      435.0
2014-09-01         14.0      444.0
2014-09-02         56.0      447.0
2014-09-03         47.0      452.0
2014-09-05          0.0        0.0
2014-09-06         84.0      474.0
2014-09-07         23.0      476.0
2014-09-08         43.0      481.0
2014-09-09         65.0      484.0
2014-09-10         50.0      493.0
2014-09-11         60.0      498.0
...                 ...        ...
2014-10-27        199.0     1419.0
2014-10-28        114.0     1422.0
2014-10-30        115.0     1429.0
2014-10-31        206.0     1435.0
2014-11-01        176.0     1442.0
2014-11-02        126.0     1450.0
2014-11-06         96.0     1479.0
2014-11-07        145.0     1491.0
2014-11-08        320.0     1498.0
2014-11-10        239.0     1514.0
2014-11-12        196.0     1534.0
2014-11-13         84.0     1545.0
2014-11-14          0.0        0.0
2014-11-15         54.0     1571.0
2014-11-16         89.0     1588.0
2014-11-17         53.0     1588.0
2014-11-18         43.0     1605.0
2014-11-19          0.0        0.0
2014-11-20        343.0     1648.0
2014-11-21        161.0     1669.0
2014-11-22        182.0     1699.0
2014-11-23        183.0     1730.0
2014-11-24        332.0     1763.0
2014-11-28        253.0     1847.0
2014-11-29        204.0     1862.0
2014-12-01        228.0     1915.0
2014-12-04        157.0     2014.0
2014-12-05        294.0     2035.0
2014-12-06          0.0     2074.0
2014-12-13          0.0        0.0

[103 rows x 2 columns]

**Final concatenation for 3 countries**

Concatenate the DFs of the three country along the axis **1**:

In [79]:
#concatenation
df = pd.concat([df_guinea,df_liberia,df_sl],axis=1)

#change the column type to numeric
df = df.apply(pd.to_numeric)

#change the index type to standard datetime
df.index = pd.to_datetime(df.index)
df

              Guinea              Liberia            Sierra Leone
           New cases New deaths New cases New deaths    New cases New deaths
2014-06-16       NaN        NaN       4.0        2.0          NaN        NaN
2014-06-17       NaN        NaN       2.0        0.0          NaN        NaN
2014-06-22       NaN        NaN      10.0        4.0          NaN        NaN
2014-06-24       NaN        NaN       6.0        4.0          NaN        NaN
2014-06-25       NaN        NaN       7.0        3.0          NaN        NaN
2014-06-28       NaN        NaN       9.0        1.0          NaN        NaN
2014-06-29       NaN        NaN       2.0        0.0          NaN        NaN
2014-07-01       NaN        NaN       4.0        5.0          NaN        NaN
2014-07-02       NaN        NaN       4.0        5.0          NaN        NaN
2014-07-03       NaN        NaN       4.0        4.0          NaN        NaN
2014-07-07       NaN        NaN       7.0        2.0          NaN        NaN
2014-07-08       NaN        NaN       3.0        2.0          NaN        NaN
2014-07-10       NaN        NaN       3.0        4.0          NaN        NaN
2014-07-13       NaN        NaN       5.0        3.0          NaN        NaN
2014-07-17       NaN        NaN      10.0        3.0          NaN        NaN
2014-07-20       NaN        NaN       3.0        4.0          NaN        NaN
2014-07-24       NaN        NaN      32.0        6.0          NaN        NaN
2014-07-26       NaN        NaN      19.0        9.0          NaN        NaN
2014-08-02       NaN        NaN      11.0       13.0          NaN        NaN
2014-08-04       9.0        2.0      10.0        7.0          NaN        NaN
2014-08-12       NaN        NaN      60.0       29.0         26.0      303.0
2014-08-13       NaN        NaN       NaN        NaN         32.0      312.0
2014-08-14       NaN        NaN       NaN        NaN         41.0      319.0
2014-08-15       NaN        NaN      19.0       17.0         32.0      326.0
2014-08-16       NaN        NaN       NaN        NaN         30.0      336.0
2014-08-17       NaN        NaN      24.0       11.0         16.0      344.0
2014-08-18       NaN        NaN      56.0       30.0         60.0      351.0
2014-08-19       NaN        NaN       NaN        NaN         46.0      359.0
2014-08-20       NaN        NaN      65.0       23.0          9.0      361.0
2014-08-21       NaN        NaN       NaN        NaN         17.0      371.0
...              ...        ...       ...        ...          ...        ...
2014-11-08       NaN        NaN      28.0       14.0        320.0     1498.0
2014-11-10       NaN        NaN       NaN        NaN        239.0     1514.0
2014-11-12       NaN        NaN       NaN        NaN        196.0     1534.0
2014-11-13       NaN        NaN       NaN        NaN         84.0     1545.0
2014-11-14       NaN        NaN      20.0       20.0          0.0        0.0
2014-11-15       NaN        NaN      39.0       12.0         54.0     1571.0
2014-11-16       NaN        NaN       NaN        NaN         89.0     1588.0
2014-11-17       NaN        NaN       NaN        NaN         53.0     1588.0
2014-11-18       NaN        NaN       NaN        NaN         43.0     1605.0
2014-11-19       NaN        NaN      36.0       21.0          0.0        0.0
2014-11-20       NaN        NaN      40.0       30.0        343.0     1648.0
2014-11-21       NaN        NaN      37.0       14.0        161.0     1669.0
2014-11-22       NaN        NaN       NaN        NaN        182.0     1699.0
2014-11-23       NaN        NaN       7.0        0.0        183.0     1730.0
2014-11-24       NaN        NaN      25.0       15.0        332.0     1763.0
2014-11-26       NaN        NaN      28.0       21.0          NaN        NaN
2014-11-27       NaN        NaN      46.0       16.0          NaN        NaN
2014-11-28       NaN        NaN       7.0        0.0        253.0     1847.0
2014-11-29       NaN        NaN      21.0        7.0        204.0     1862.0
2014-11-30       NaN        NaN      10.0        0.0          NaN        NaN
2014-12-01       NaN        NaN      35.0        0.0        228.0     1915.0
2014-12-02       NaN        NaN      37.0        0.0          NaN        NaN
2014-12-03       NaN        NaN       0.0        0.0          NaN        NaN
2014-12-04       NaN        NaN    7721.0        0.0        157.0     2014.0
2014-12-05       NaN        NaN    7731.0        0.0        294.0     2035.0
2014-12-06       NaN        NaN    7735.0        0.0          0.0     2074.0
2014-12-07       NaN        NaN    7765.0        0.0          NaN        NaN
2014-12-08       NaN        NaN    7786.0        0.0          NaN        NaN
2014-12-09       NaN        NaN    7797.0        0.0          NaN        NaN
2014-12-13       NaN        NaN       NaN        NaN          0.0        0.0

[135 rows x 6 columns]

Calculate daily average per month for each country:

In [80]:
#Calculate the mean value for each month
df = df.groupby(pd.TimeGrouper(freq='M')).mean()

#rename the index, from date to month (eg.2014-10-31 --> October)
df = df.rename(index=lambda x: x.strftime('%B'))

#replace all the Nan value by the tag unkown
df = df.fillna('unknown')

Show the final result DateFrame:

In [81]:
df

             Guinea                 Liberia            Sierra Leone
          New cases New deaths    New cases New deaths    New cases New deaths
June        unknown    unknown     5.714286   2.000000      unknown    unknown
July        unknown    unknown     8.545455   4.272727      unknown    unknown
August         25.8        3.4    37.222222  23.222222        34.85     331.95
September    19.625     3.5625    63.833333  36.041667       67.931        488
October          34         15    45.560000  28.040000      124.214    1162.36
November    unknown    unknown    26.466667  13.466667      156.143    1453.48
December    unknown    unknown  5178.555556   0.000000        135.8     1607.6

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

## Solution

**_We implemented two methods to import these 10 spreadsheets._**

Import the metadata file into the DataFrame named metadame:

In [43]:
metadata = pd.read_excel(DATA_FOLDER + 'microbiome/metadata.xls', sheetname='Sheet1', index_col='BARCODE')

### First method

Use a for-loop to import 9 microbiome data files into a temporary DataFrame successively and put all these 9 DateFrames into a list named microbiome data:

In [28]:
microbiome_data=[]
for i in range(1,10):
    filename = '{}microbiome/MID{}.xls'.format(DATA_FOLDER,i)
    
    #import the ith data files into the temporary DF
    temp = pd.read_excel(filename, sheetname='Sheet 1', header=None, index_col=0)
    temp.index.name = 'Taxon'
    temp.columns = ['Count']
    
    #add new columns 'Group'&'Sample' and get the corresponding information from the metadata DF  
    temp['Group'] = metadata.loc['MID{}'.format(i), 'GROUP']
    temp['Sample'] = metadata.loc['MID{}'.format(i), 'SAMPLE']
    
    #reshape the columns
    temp.columns = [['MID{}'.format(i),'MID{}'.format(i),'MID{}'.format(i)], ['Group', 'Sample', 'Count']]
    
    #add the temporary DF to the list microbiome_data
    microbiome_data.append(temp)

Concetenate 9 elements of the list microbiome_data (9 DFs) along the axis **1**:

In [29]:
microbiome_data = pd.concat(microbiome_data,axis=1)

Replace all the NaN values by the tag unknown and set index name as Taxon:

In [30]:
microbiome_data = microbiome_data.fillna('unknown')
microbiome_data.index.name = 'Taxon'

Make sure that the final DataFrame has a unique index:

In [32]:
microbiome_data.index.is_unique

True

Show the final Dataframe:

In [22]:
microbiome_data

                                                       MID1  \
                                                      Group
Taxon
Archaea "Crenarchaeota" Thermoprotei Acidilobal...  unknown
Archaea "Crenarchaeota" Thermoprotei Acidilobal...  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...        7
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...        2
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...        3
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  unknown
Archaea "Crenarchaeota" Thermoprotei Thermoprot...        3
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  unknown
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...        7
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...        1
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...        1
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...        1
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...        1
Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...        1
Archaea "Euryarchaeota" Halobacteria Halobacter...        4
...                                                     ...
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown
Bacteria "Spirochaetes" Spirochaetes Spirochaet...        1
Bacteria "Synergistetes" Synergistia Synergista...        2
Bacteria "Synergistetes" Synergistia Synergista...        1
Bacteria "Synergistetes" Synergistia Synergista...        1
Bacteria "Tenericutes" Mollicutes Anaeroplasmat...  unknown
Bacteria "Tenericutes" Mollicutes Haloplasmatal...        1
Bacteria "Thermodesulfobacteria" Thermodesulfob...        1
Bacteria "Thermodesulfobacteria" Thermodesulfob...  unknown
Bacteria "Thermotogae" Thermotogae Thermotogale...        7
Bacteria "Thermotogae" Thermotogae Thermotogale...        9
Bacteria "Verrucomicrobia" Opitutae Opitutales ...        1
Bacteria "Verrucomicrobia" Opitutae Opitutales ...  unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...  unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...  unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...  unknown
Bacteria "Verrucomicrobia" Subdivision3   Subdi...  unknown
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver...  unknown
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver...  unknown
Bacteria Cyanobacteria Cyanobacteria  Chloropla...        2
Bacteria Cyanobacteria Cyanobacteria  Chloropla...       85
Bacteria Cyanobacteria Cyanobacteria  Chloropla...     1388
Bacteria OD1    OD1_genera_incertae_sedis           unknown
Bacteria OP11    OP11_genera_incertae_sedis         unknown
Bacteria TM7    TM7_genera_incertae_sedis           unknown

                                                                        \
                                                                Sample
Taxon
Archaea "Crenarchaeota" Thermoprotei Acidilobal...             unknown
Archaea "Crenarchaeota" Thermoprotei Acidilobal...             unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  EXTRACTION CONTROL
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...             unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...             unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...             unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...             unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...             unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...             unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  EXTRACTION CONTROL
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  EXTRACTION CONTROL
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...             unknown
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  EXTRACTION CONTROL
Archaea "Crenarchaeota" Thermoprotei Thermoprot...             unknown
Archaea "Crenarchaeota" Thermoprotei Thermoprot...             unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  EXTRACTION CONTROL
Archaea "Euryarchaeota" "Methanomicrobia" Metha...             unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...             unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...             unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...             unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  EXTRACTION CONTROL
Archaea "Euryarchaeota" "Methanomicrobia" Metha...             unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  EXTRACTION CONTROL
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...  EXTRACTION CONTROL
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...  EXTRACTION CONTROL
Archaea "Euryarchaeota" Halobacteria Halobacter...             unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...             unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...             unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...  EXTRACTION CONTROL
Archaea "Euryarchaeota" Halobacteria Halobacter...  EXTRACTION CONTROL
...                                                                ...
Bacteria "Proteobacteria" Gammaproteobacteria X...             unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...             unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...             unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...             unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...             unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...             unknown
Bacteria "Spirochaetes" Spirochaetes Spirochaet...  EXTRACTION CONTROL
Bacteria "Synergistetes" Synergistia Synergista...  EXTRACTION CONTROL
Bacteria "Synergistetes" Synergistia Synergista...  EXTRACTION CONTROL
Bacteria "Synergistetes" Synergistia Synergista...  EXTRACTION CONTROL
Bacteria "Tenericutes" Mollicutes Anaeroplasmat...             unknown
Bacteria "Tenericutes" Mollicutes Haloplasmatal...  EXTRACTION CONTROL
Bacteria "Thermodesulfobacteria" Thermodesulfob...  EXTRACTION CONTROL
Bacteria "Thermodesulfobacteria" Thermodesulfob...             unknown
Bacteria "Thermotogae" Thermotogae Thermotogale...  EXTRACTION CONTROL
Bacteria "Thermotogae" Thermotogae Thermotogale...  EXTRACTION CONTROL
Bacteria "Verrucomicrobia" Opitutae Opitutales ...  EXTRACTION CONTROL
Bacteria "Verrucomicrobia" Opitutae Opitutales ...             unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...             unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...             unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...             unknown
Bacteria "Verrucomicrobia" Subdivision3   Subdi...             unknown
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver...             unknown
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver...             unknown
Bacteria Cyanobacteria Cyanobacteria  Chloropla...  EXTRACTION CONTROL
Bacteria Cyanobacteria Cyanobacteria  Chloropla...  EXTRACTION CONTROL
Bacteria Cyanobacteria Cyanobacteria  Chloropla...  EXTRACTION CONTROL
Bacteria OD1    OD1_genera_incertae_sedis                      unknown
Bacteria OP11    OP11_genera_incertae_sedis                    unknown
Bacteria TM7    TM7_genera_incertae_sedis                      unknown

                                                                MID2           \
                                                      Count    Group   Sample
Taxon
Archaea "Crenarchaeota" Thermoprotei Acidilobal...  unknown        2    NEC 1
Archaea "Crenarchaeota" Thermoprotei Acidilobal...  unknown       14    NEC 1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown       23    NEC 1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown  unknown  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown        1    NEC 1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown  unknown  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown        2    NEC 1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown        1    NEC 1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown  unknown  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown        2    NEC 1
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  unknown       10    NEC 1
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  unknown       11    NEC 1
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  unknown        9    NEC 1
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  unknown        5    NEC 1
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  unknown        3    NEC 1
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown        9    NEC 1
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown        1    NEC 1
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown  unknown  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown  unknown  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown  unknown  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown       12    NEC 1
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown  unknown  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown        2    NEC 1
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...  unknown        4    NEC 1
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...  unknown  unknown  unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown        3    NEC 1
Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown        1    NEC 1
Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown  unknown  unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown        4    NEC 1
Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown        3    NEC 1
...                                                     ...      ...      ...
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown  unknown
Bacteria "Spirochaetes" Spirochaetes Spirochaet...  unknown  unknown  unknown
Bacteria "Synergistetes" Synergistia Synergista...  unknown        2    NEC 1
Bacteria "Synergistetes" Synergistia Synergista...  unknown        2    NEC 1
Bacteria "Synergistetes" Synergistia Synergista...  unknown  unknown  unknown
Bacteria "Tenericutes" Mollicutes Anaeroplasmat...  unknown  unknown  unknown
Bacteria "Tenericutes" Mollicutes Haloplasmatal...  unknown       15    NEC 1
Bacteria "Thermodesulfobacteria" Thermodesulfob...  unknown        1    NEC 1
Bacteria "Thermodesulfobacteria" Thermodesulfob...  unknown        3    NEC 1
Bacteria "Thermotogae" Thermotogae Thermotogale...  unknown       15    NEC 1
Bacteria "Thermotogae" Thermotogae Thermotogale...  unknown       22    NEC 1
Bacteria "Verrucomicrobia" Opitutae Opitutales ...  unknown  unknown  unknown
Bacteria "Verrucomicrobia" Opitutae Opitutales ...  unknown  unknown  unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...  unknown  unknown  unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...  unknown  unknown  unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...  unknown  unknown  unknown
Bacteria "Verrucomicrobia" Subdivision3   Subdi...  unknown  unknown  unknown
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver...  unknown  unknown  unknown
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver...  unknown  unknown  unknown
Bacteria Cyanobacteria Cyanobacteria  Chloropla...  unknown  unknown  unknown
Bacteria Cyanobacteria Cyanobacteria  Chloropla...  unknown        1    NEC 1
Bacteria Cyanobacteria Cyanobacteria  Chloropla...  unknown        2    NEC 1
Bacteria OD1    OD1_genera_incertae_sedis           unknown  unknown  unknown
Bacteria OP11    OP11_genera_incertae_sedis         unknown  unknown  unknown
Bacteria TM7    TM7_genera_incertae_sedis           unknown        2    NEC 1

                                                                MID3  \
                                                      Count    Group
Taxon
Archaea "Crenarchaeota" Thermoprotei Acidilobal...   tissue        1
Archaea "Crenarchaeota" Thermoprotei Acidilobal...   tissue       15
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   tissue       14
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   tissue        4
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown        1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   tissue        1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   tissue  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown        3
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...   tissue  unknown
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...   tissue        4
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...   tissue        2
Archaea "Crenarchaeota" Thermoprotei Thermoprot...   tissue        5
Archaea "Crenarchaeota" Thermoprotei Thermoprot...   tissue        3
Archaea "Crenarchaeota" Thermoprotei Thermoprot...   tissue        1
Archaea "Euryarchaeota" "Methanomicrobia" Metha...   tissue        7
Archaea "Euryarchaeota" "Methanomicrobia" Metha...   tissue        4
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown        1
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...   tissue        2
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown        1
Archaea "Euryarchaeota" "Methanomicrobia" Metha...   tissue        1
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...   tissue  unknown
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...  unknown  unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...   tissue        3
Archaea "Euryarchaeota" Halobacteria Halobacter...   tissue        1
Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown  unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...   tissue        3
Archaea "Euryarchaeota" Halobacteria Halobacter...   tissue        2
...                                                     ...      ...
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown        1
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown        1
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown
Bacteria "Proteobacteria" Gammaproteobacteria X...  unknown  unknown
Bacteria "Spirochaetes" Spirochaetes Spirochaet...  unknown  unknown
Bacteria "Synergistetes" Synergistia Synergista...   tissue        2
Bacteria "Synergistetes" Synergistia Synergista...   tissue        3
Bacteria "Synergistetes" Synergistia Synergista...  unknown  unknown
Bacteria "Tenericutes" Mollicutes Anaeroplasmat...  unknown  unknown
Bacteria "Tenericutes" Mollicutes Haloplasmatal...   tissue        2
Bacteria "Thermodesulfobacteria" Thermodesulfob...   tissue  unknown
Bacteria "Thermodesulfobacteria" Thermodesulfob...   tissue        1
Bacteria "Thermotogae" Thermotogae Thermotogale...   tissue       12
Bacteria "Thermotogae" Thermotogae Thermotogale...   tissue        7
Bacteria "Verrucomicrobia" Opitutae Opitutales ...  unknown        1
Bacteria "Verrucomicrobia" Opitutae Opitutales ...  unknown        1
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...  unknown        1
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...  unknown  unknown
Bacteria "Verrucomicrobia" Opitutae Puniceicocc...  unknown        2
Bacteria "Verrucomicrobia" Subdivision3   Subdi...  unknown  unknown
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver...  unknown        2
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver...  unknown        1
Bacteria Cyanobacteria Cyanobacteria  Chloropla...  unknown        1
Bacteria Cyanobacteria Cyanobacteria  Chloropla...   tissue        4
Bacteria Cyanobacteria Cyanobacteria  Chloropla...   tissue       54
Bacteria OD1    OD1_genera_incertae_sedis           unknown        1
Bacteria OP11    OP11_genera_incertae_sedis         unknown       26
Bacteria TM7    TM7_genera_incertae_sedis            tissue  unknown

                                                                        \
                                                       Sample    Count
Taxon
Archaea "Crenarchaeota" Thermoprotei Acidilobal...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Acidilobal...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...    unknown  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...    unknown  unknown
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Desulfuroc...    unknown  unknown
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  Control 1   tissue
Archaea "Crenarchaeota" Thermoprotei Thermoprot...  Control 1   tissue
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  Control 1   tissue
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  Control 1   tissue
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  Control 1   tissue
Archaea "Euryarchaeota" "Methanomicrobia" Metha...    unknown  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...    unknown  unknown
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  Control 1   tissue
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  Control 1   tissue
Archaea "Euryarchaeota" "Methanomicrobia" Metha...  Control 1   tissue
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...    unknown  unknown
Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...    unknown  unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...  Control 1   tissue
Archaea "Euryarchaeota" Halobacteria Halobacter...  Control 1   tissue
Archaea "Euryarchaeota" Halobacteria Halobacter...    unknown  unknown
Archaea "Euryarchaeota" Halobacteria Halobacter...  Control 1   tissue
Archaea "Euryarchaeota" Halobacteria Halobacter...  Control 1   tissue
...                                                       ...      ...
Bacteria "Proteobacteria" Gammaproteobacteria X...    unknown  unknown

### Second method

Use a for-loop to import 9 microbiome data files into a temporary DataFrame successively and put all these 9 DateFrames into a list named microbiome data:

In [38]:
microbiome_data=[]
for i in range(1,10):
    filename = '{}microbiome/MID{}.xls'.format(DATA_FOLDER,i)
    
    #import the ith data files into the temporary DF
    mb = pd.read_excel(filename, sheetname='Sheet 1', header=None, index_col=0)
    mb.index.name = 'Taxon'
    mb.columns = ['Count']
    
    #add new columns 'Group'&'Sample' and get the corresponding information from the metadata DF  
    mb['Group'] = metadata.loc['MID{}'.format(i), 'GROUP']
    mb['Sample'] = metadata.loc['MID{}'.format(i), 'SAMPLE']
    
    #add the temporary DF to the list microbiome_data
    microbiome_data.append(mb)

Concatenate 9 elements of the list microbiome_data along the axis **0**, set a key for each element and the index names for the final Dateframe:

In [39]:
microbiome_data = pd.concat(microbiome_data, keys=['MID{}'.format(i) for i in range(1,10)])
microbiome_data.index.names = ['Barcode', 'Taxon']

Replace all the NaN values by the tag unknown:

In [40]:
microbiome_data = microbiome_data.fillna('unknown')

Make sure that the final DataFrame has a unique index:

In [41]:
microbiome_data.index.is_unique

True

Show the final Dataframe:

In [42]:
microbiome_data

                                                            Count  \
Barcode Taxon
MID1    Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      7
        Archaea "Crenarchaeota" Thermoprotei Desulfuroc...      2
        Archaea "Crenarchaeota" Thermoprotei Sulfolobal...      3
        Archaea "Crenarchaeota" Thermoprotei Thermoprot...      3
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...      7
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...      1
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...      1
        Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...      1
        Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...      1
        Archaea "Euryarchaeota" Halobacteria Halobacter...      1
        Archaea "Euryarchaeota" Halobacteria Halobacter...      4
        Archaea "Euryarchaeota" Halobacteria Halobacter...      1
        Archaea "Euryarchaeota" Halobacteria Halobacter...      2
        Archaea "Euryarchaeota" Halobacteria Halobacter...      4
        Archaea "Euryarchaeota" Methanococci Methanococ...      1
        Archaea "Euryarchaeota" Methanopyri Methanopyra...     12
        Archaea "Euryarchaeota" Thermoplasmata Thermopl...      2
        Bacteria "Actinobacteria" Actinobacteria Actino...      2
        Bacteria "Actinobacteria" Actinobacteria Actino...      1
        Bacteria "Actinobacteria" Actinobacteria Actino...      1
        Bacteria "Actinobacteria" Actinobacteria Actino...      1
        Bacteria "Actinobacteria" Actinobacteria Actino...      2
        Bacteria "Actinobacteria" Actinobacteria Actino...     53
        Bacteria "Actinobacteria" Actinobacteria Actino...      1
        Bacteria "Actinobacteria" Actinobacteria Actino...      2
        Bacteria "Actinobacteria" Actinobacteria Actino...      3
        Bacteria "Actinobacteria" Actinobacteria Actino...      1
        Bacteria "Actinobacteria" Actinobacteria Actino...     99
        Bacteria "Actinobacteria" Actinobacteria Actino...     17
        Bacteria "Actinobacteria" Actinobacteria Actino...      2
...                                                           ...
MID9    Bacteria "Proteobacteria" Gammaproteobacteria O...     10
        Bacteria "Proteobacteria" Gammaproteobacteria O...      1
        Bacteria "Proteobacteria" Gammaproteobacteria O...      1
        Bacteria "Proteobacteria" Gammaproteobacteria P...      1
        Bacteria "Proteobacteria" Gammaproteobacteria P...     12
        Bacteria "Proteobacteria" Gammaproteobacteria P...      4
        Bacteria "Proteobacteria" Gammaproteobacteria P...    805
        Bacteria "Proteobacteria" Gammaproteobacteria P...    862
        Bacteria "Proteobacteria" Gammaproteobacteria P...     12
        Bacteria "Proteobacteria" Gammaproteobacteria P...   3534
        Bacteria "Proteobacteria" Gammaproteobacteria T...      4
        Bacteria "Proteobacteria" Gammaproteobacteria T...      1
        Bacteria "Proteobacteria" Gammaproteobacteria T...     25
        Bacteria "Proteobacteria" Gammaproteobacteria T...      2
        Bacteria "Proteobacteria" Gammaproteobacteria X...      3
        Bacteria "Proteobacteria" Gammaproteobacteria X...      2
        Bacteria "Proteobacteria" Gammaproteobacteria X...      1
        Bacteria "Proteobacteria" Gammaproteobacteria X...      3
        Bacteria "Proteobacteria" Gammaproteobacteria X...      2
        Bacteria "Proteobacteria" Gammaproteobacteria X...      1
        Bacteria "Synergistetes" Synergistia Synergista...      3
        Bacteria "Tenericutes" Mollicutes Anaeroplasmat...      1
        Bacteria "Tenericutes" Mollicutes Haloplasmatal...     11
        Bacteria "Thermodesulfobacteria" Thermodesulfob...      1
        Bacteria "Thermodesulfobacteria" Thermodesulfob...      1
        Bacteria "Thermotogae" Thermotogae Thermotogale...     43
        Bacteria "Thermotogae" Thermotogae Thermotogale...     16
        Bacteria "Verrucomicrobia" Opitutae Opitutales ...      1
        Bacteria Cyanobacteria Cyanobacteria  Chloropla...      1
        Bacteria Cyanobacteria Cyanobacteria  Chloropla...     10

                                                                         Group  \
Barcode Taxon
MID1    Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  EXTRACTION CONTROL
        Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  EXTRACTION CONTROL
        Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  EXTRACTION CONTROL
        Archaea "Crenarchaeota" Thermoprotei Thermoprot...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Halobacteria Halobacter...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Halobacteria Halobacter...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Halobacteria Halobacter...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Halobacteria Halobacter...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Halobacteria Halobacter...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Methanococci Methanococ...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Methanopyri Methanopyra...  EXTRACTION CONTROL
        Archaea "Euryarchaeota" Thermoplasmata Thermopl...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
        Bacteria "Actinobacteria" Actinobacteria Actino...  EXTRACTION CONTROL
...                                                                        ...
MID9    Bacteria "Proteobacteria" Gammaproteobacteria O...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria O...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria O...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria P...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria P...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria P...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria P...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria P...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria P...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria P...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria T...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria T...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria T...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria T...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria X...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria X...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria X...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria X...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria X...           Control 2
        Bacteria "Proteobacteria" Gammaproteobacteria X...           Control 2
        Bacteria "Synergistetes" Synergistia Synergista...           Control 2
        Bacteria "Tenericutes" Mollicutes Anaeroplasmat...           Control 2
        Bacteria "Tenericutes" Mollicutes Haloplasmatal...           Control 2
        Bacteria "Thermodesulfobacteria" Thermodesulfob...           Control 2
        Bacteria "Thermodesulfobacteria" Thermodesulfob...           Control 2
        Bacteria "Thermotogae" Thermotogae Thermotogale...           Control 2
        Bacteria "Thermotogae" Thermotogae Thermotogale...           Control 2
        Bacteria "Verrucomicrobia" Opitutae Opitutales ...           Control 2
        Bacteria Cyanobacteria Cyanobacteria  Chloropla...           Control 2
        Bacteria Cyanobacteria Cyanobacteria  Chloropla...           Control 2

                                                             Sample
Barcode Taxon
MID1    Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown
        Archaea "Crenarchaeota" Thermoprotei Desulfuroc...  unknown
        Archaea "Crenarchaeota" Thermoprotei Sulfolobal...  unknown
        Archaea "Crenarchaeota" Thermoprotei Thermoprot...  unknown
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown
        Archaea "Euryarchaeota" "Methanomicrobia" Metha...  unknown
        Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...  unknown
        Archaea "Euryarchaeota" Archaeoglobi Archaeoglo...  unknown
        Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown
        Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown
        Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown
        Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown
        Archaea "Euryarchaeota" Halobacteria Halobacter...  unknown
        Archaea "Euryarchaeota" Methanococci Methanococ...  unknown
        Archaea "Euryarchaeota" Methanopyri Methanopyra...  unknown
        Archaea "Euryarchaeota" Thermoplasmata Thermopl...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
        Bacteria "Actinobacteria" Actinobacteria Actino...  unknown
...                                                             ...
MID9    Bacteria "Proteobacteria" Gammaproteobacteria O...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria O...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria O...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria P...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria P...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria P...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria P...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria P...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria P...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria P...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria T...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria T...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria T...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria T...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria X...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria X...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria X...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria X...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria X...    stool
        Bacteria "Proteobacteria" Gammaproteobacteria X...    stool
        Bacteria "Synergistetes" Synergistia Synergista...    stool
        Bacteria "Tenericutes" Mollicutes Anaeroplasmat...    stool
        Bacteria "Tenericutes" Mollicutes Haloplasmatal...    stool
        Bacteria "Thermodesulfobacteria" Thermodesulfob...    stool
        Bacteria "Thermodesulfobacteria" Thermodesulfob...    stool
        Bacteria "Thermotogae" Thermotogae Thermotogale...    stool
        Bacteria "Thermotogae" Thermotogae Thermotogale...    stool
        Bacteria "Verrucomicrobia" Opitutae Opitutales ...    stool
        Bacteria Cyanobacteria Cyanobacteria  Chloropla...    stool
        Bacteria Cyanobacteria Cyanobacteria  Chloropla...    stool

[2396 rows x 3 columns]

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [18]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

In [24]:
titanic = pd.read_excel(DATA_FOLDER + "titanic.xls", 'titanic')
titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",male,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1,1,"Behr, Mr. Karl Howell",male,26.0000,0,0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",female,42.0000,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1,1,"Bird, Miss. Ellen",female,29.0000,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1,0,"Birnbaum, Mr. Jakob",male,25.0000,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1,1,"Bishop, Mr. Dickinson H",male,25.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1,1,"Bissette, Miss. Amelia",female,35.0000,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0000,0,0,350406,7.8542,NaN,S,NaN,NaN,NaN
1280,3,0,"Vovk, Mr. Janko",male,22.0000,0,0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3,0,"Waelens, Mr. Achille",male,22.0000,0,0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3,0,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3,0,"Warren, Mr. Charles William",male,NaN,0,0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3,0,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3,0,"Wenzel, Mr. Linhart",male,32.5000,0,0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0,0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3,0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0,0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3,0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1,0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3,0,"Wiklund, Mr. Karl Johan",male,21.0000,1,0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1,0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0,0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3,0,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3,0,"Williams, Mr. Leslie",male,28.5000,0,0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3,0,"Windelov, Mr. Einar",male,21.0000,0,0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3,0,"Wirz, Mr. Albert",male,27.0000,0,0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3,0,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3,0,"Wittevrongel, Mr. Camille",male,36.0000,0,0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3,0,"Yasbeck, Mr. Antoni",male,27.0000,1,0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1,0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3,0,"Youseff, Mr. Gerious",male,45.5000,0,0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3,0,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3,0,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.